root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
# aquí podemos poner algunas reglas como los indentados, que van con espacios y tienen que ser 2...etc